circle {
    fill: none;
    stroke: #008B6F;
    stroke-width: 7px;
}

line {
    stroke: black;
    stroke-width: 5px;
}

text {
    font-size: 60px;
    /*The default anchor point for text the bottom left of the text box*/
    text-anchor: middle;
    font-family: 'FilmotypeMajor';
    stroke: #000;
    stroke-width: 3px;
    fill: #F6F7F3;
}

polygon {
    fill: #008B5F;
    stroke: black;
    stroke-width: 2px;
}